### Original cleaned best track data

In [1]:
from dataset_utils import read_numpy_from_file, numpy_to_pandas
import numpy as np
import pandas as pd

ds = read_numpy_from_file('best_track.npy')
ds = numpy_to_pandas(ds)

Reading file best_track.npy ......Done!

In [2]:
ds.describe()

,SEASON,ISO_TIME_MONTH,ISO_TIME_DAY,ISO_TIME_HOUR,ISO_TIME_MIN,USA_LAT,USA_LON,USA_WIND,USA_PRES,USA_R34_NE,...,USA_R50_NE,USA_R50_SE,USA_R50_SW,USA_R50_NW,USA_R64_NE,USA_R64_SE,USA_R64_SW,USA_R64_NW,STORM_SPEED,STORM_DIR
count,53791.000000,53791.000000,53791.000000,53791.000000,53791.0,53791.000000,53791.000000,53791.000000,53791.000000,53791.000000,...,53791.000000,53791.000000,53791.000000,53791.000000,53791.000000,53791.000000,53791.000000,53791.000000,53791.000000,53791.000000
mean,1983.586752,8.261419,16.007752,8.930881,0.0,19.191765,132.830505,-746.165678,-74126.562696,-84292.438419,...,-90965.911825,-90971.846722,-91020.626982,-90999.759012,-93804.167314,-93822.911416,-93837.943652,-93826.598855,10.499098,230.075979
std,20.625708,2.308000,8.630814,6.699664,0.0,7.507309,20.176481,8930.744496,44082.287667,36411.448353,...,28675.484655,28666.378891,28595.750049,28626.395166,24111.261402,24076.855907,24049.141303,24070.206546,5.939995,115.167030
min,1945.000000,1.000000,1.000000,0.000000,0.0,1.300000,-180.000000,-99999.000000,-99999.000000,-99999.000000,...,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,0.000000,0.000000
25%,1966.000000,7.000000,9.000000,0.000000,0.0,13.700000,122.500000,30.000000,-99999.000000,-99999.000000,...,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,7.000000,112.000000
50%,1984.000000,8.000000,16.000000,6.000000,0.0,18.400000,132.199997,50.000000,-99999.000000,-99999.000000,...,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,10.000000,283.000000
75%,2001.000000,10.000000,23.000000,12.000000,0.0,23.799999,143.600006,75.000000,916.000000,-99999.000000,...,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,13.000000,307.000000
max,2019.000000,12.000000,31.000000,23.000000,0.0,55.500000,180.000000,185.000000,1012.000000,330.000000,...,200.000000,215.000000,205.000000,196.000000,135.000000,120.000000,110.000000,107.000000,93.000000,360.000000

In [3]:
ds[ds.isnull().any(axis=1)]

Empty DataFrame
Columns: [SID, SEASON, NAME, ISO_TIME_MONTH, ISO_TIME_DAY, ISO_TIME_HOUR, ISO_TIME_MIN, USA_LAT, USA_LON, USA_WIND, USA_PRES, USA_R34_NE, USA_R34_SE, USA_R34_SW, USA_R34_NW, USA_R50_NE, USA_R50_SE, USA_R50_SW, USA_R50_NW, USA_R64_NE, USA_R64_SE, USA_R64_SW, USA_R64_NW, STORM_SPEED, STORM_DIR]
Index: []

[0 rows x 25 columns]

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53791 entries, 0 to 53790
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SID             53791 non-null  object
 1   SEASON          53791 non-null  int32
 2   NAME            53791 non-null  object
 3   ISO_TIME_MONTH  53791 non-null  int32
 4   ISO_TIME_DAY    53791 non-null  int32
 5   ISO_TIME_HOUR   53791 non-null  int32
 6   ISO_TIME_MIN    53791 non-null  int32
 7   USA_LAT         53791 non-null  float32
 8   USA_LON         53791 non-null  float32
 9   USA_WIND        53791 non-null  int32
 10  USA_PRES        53791 non-null  int32
 11  USA_R34_NE      53791 non-null  int32
 12  USA_R34_SE      53791 non-null  int32
 13  USA_R34_SW      53791 non-null  int32
 14  USA_R34_NW      53791 non-null  int32
 15  USA_R50_NE      53791 non-null  int32
 16  USA_R50_SE      53791 non-null  int32
 17  USA_R50_SW      53791 non-null  int32
 18  USA_R50_NW      53791 non-null  int32
 19  USA_R64_NE      53791 non-null  int32
 20  USA_R64_SE      53791 non-null  int32
 21  USA_R64_SW      53791 non-null  int32
 22  USA_R64_NW      53791 non-null  int32
 23  STORM_SPEED     53791 non-null  int32
 24  STORM_DIR       53791 non-null  int32
dtypes: float32(2), int32(21), object(2)
memory usage: 5.5+ MB

#### Check since when are wind radii available

In [7]:
subset = ds.query('USA_R34_NE > 0')
subset.describe()

,SEASON,ISO_TIME_MONTH,ISO_TIME_DAY,ISO_TIME_HOUR,ISO_TIME_MIN,USA_LAT,USA_LON,USA_WIND,USA_PRES,USA_R34_NE,...,USA_R50_NE,USA_R50_SE,USA_R50_SW,USA_R50_NW,USA_R64_NE,USA_R64_SE,USA_R64_SW,USA_R64_NW,STORM_SPEED,STORM_DIR
count,8439.000000,8439.000000,8439.000000,8439.000000,8439.0,8439.000000,8439.000000,8439.000000,8439.000000,8439.000000,...,8439.000000,8439.000000,8439.000000,8439.000000,8439.000000,8439.000000,8439.000000,8439.000000,8439.000000,8439.000000
mean,2010.207726,8.277758,15.894300,9.017301,0.0,20.468462,132.525696,72.957104,932.023818,116.138524,...,-42421.224671,-42459.054272,-42769.984358,-42636.969902,-60512.538926,-60632.015642,-60727.832563,-60655.519730,10.663112,232.125489
std,5.695718,2.118020,8.827853,6.705319,0.0,6.931733,13.365361,29.816696,1903.615239,51.267221,...,49461.209043,49464.682028,49508.214408,49491.306193,48900.363063,48873.516985,48851.526070,48868.596993,5.574074,118.616484
min,2001.000000,1.000000,1.000000,0.000000,0.0,1.500000,87.699997,30.000000,-99999.000000,5.000000,...,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,0.000000,0.000000
25%,2005.000000,7.000000,8.000000,6.000000,0.0,15.400000,123.450001,45.000000,954.000000,80.000000,...,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,7.000000,94.000000
50%,2011.000000,8.000000,16.000000,9.000000,0.0,19.900000,131.600006,65.000000,974.000000,110.000000,...,30.000000,30.000000,25.000000,30.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,10.000000,286.000000
75%,2015.000000,10.000000,23.000000,15.000000,0.0,25.100000,141.300003,90.000000,989.000000,150.000000,...,62.000000,60.000000,55.000000,60.000000,30.000000,30.000000,26.000000,30.000000,13.000000,313.000000
max,2019.000000,12.000000,31.000000,23.000000,0.0,45.099998,178.800003,170.000000,1007.000000,330.000000,...,200.000000,215.000000,205.000000,196.000000,135.000000,120.000000,110.000000,107.000000,46.000000,360.000000

#### STORM_SPEED and STORM_DIR are always available

In [8]:
subset = ds.query('STORM_SPEED > 0')
subset.describe()

,SEASON,ISO_TIME_MONTH,ISO_TIME_DAY,ISO_TIME_HOUR,ISO_TIME_MIN,USA_LAT,USA_LON,USA_WIND,USA_PRES,USA_R34_NE,...,USA_R50_NE,USA_R50_SE,USA_R50_SW,USA_R50_NW,USA_R64_NE,USA_R64_SE,USA_R64_SW,USA_R64_NW,STORM_SPEED,STORM_DIR
count,53744.000000,53744.000000,53744.000000,53744.000000,53744.0,53744.000000,53744.000000,53744.000000,53744.000000,53744.000000,...,53744.000000,53744.000000,53744.000000,53744.000000,53744.000000,53744.000000,53744.000000,53744.000000,53744.000000,53744.000000
mean,1983.583749,8.261387,16.005024,8.930318,0.0,19.193783,132.833679,-746.863520,-74120.846662,-84288.014513,...,-90959.874200,-90965.814286,-91014.637206,-90993.750986,-93800.611138,-93819.371632,-93834.417014,-93823.062295,10.508280,230.195817
std,20.630449,2.307727,8.630540,6.700001,0.0,7.508000,20.181141,8934.617528,44085.480038,36415.625003,...,28684.114939,28675.005204,28604.346096,28635.004416,24117.724371,24083.300771,24055.571557,24076.647918,5.934468,115.093604
min,1945.000000,1.000000,1.000000,0.000000,0.0,1.300000,-180.000000,-99999.000000,-99999.000000,-99999.000000,...,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,1.000000,0.000000
25%,1966.000000,7.000000,9.000000,0.000000,0.0,13.700000,122.500000,30.000000,-99999.000000,-99999.000000,...,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,7.000000,113.000000
50%,1984.000000,8.000000,16.000000,6.000000,0.0,18.400000,132.199997,50.000000,-99999.000000,-99999.000000,...,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,10.000000,283.000000
75%,2001.000000,10.000000,23.000000,12.000000,0.0,23.799999,143.600006,75.000000,916.000000,-99999.000000,...,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,13.000000,307.000000
max,2019.000000,12.000000,31.000000,23.000000,0.0,55.500000,180.000000,185.000000,1012.000000,330.000000,...,200.000000,215.000000,205.000000,196.000000,135.000000,120.000000,110.000000,107.000000,93.000000,360.000000

#### Bounds of the grids to obtain

worst case: calculate 1000 km (~8-9 degrees lat) around the TC center => lat range (8S, 55N), lon range (53E, 164W) under assumption of Mercator projection
longitude ranges are incorrect but we need a rectangular grid, so...

In [14]:
records = ds.query("(SEASON > 1991) or ((SEASON == 1991) and (ISO_TIME_MONTH > 7))")
records["USA_LAT"].describe()
# latitude range for dynamical data: use range must have 1 to 46

count    21650.000000
mean        19.112556
std          7.342258
min          1.300000
25%         13.800000
50%         18.500000
75%         23.700001
max         45.700001
Name: USA_LAT, dtype: float64

In [15]:
nearby_lon = records.query("(USA_LON >= 50) and (USA_LON <= 180)")
nearby_lon["USA_LON"].describe()
# longitudes must include 62

count    21626.000000
mean       132.719330
std         15.523100
min         62.799999
25%        121.400002
50%        131.399994
75%        143.000000
max        180.000000
Name: USA_LON, dtype: float64

In [16]:
faraway_lon = records.query("(USA_LON <= -100)")
faraway_lon["USA_LON"].describe()
# longitudes must include -175
# a very large range, but it is necessary

count     24.000000
mean    -178.429184
std        1.066682
min     -180.000000
25%     -179.200005
50%     -178.450005
75%     -177.649998
max     -176.699997
Name: USA_LON, dtype: float64